body{
	font-family: "PT Sans"
}
.container{
	width: 80%;
	margin: 0 auto;
}

/*--------------- Section Principales Noticias ----------*/
.temas_dia li {
	float: left;
}
.principal_noticias{
	text-align:  center;
}
.principal_noticias h1{
	font-size: 4em;
    font-weight: 600;
    padding: 0px 1.2em;
}
.principal_noticias a{
	font-weight: 600;
	color: white;
}
/*---------------------iconos--------*/
.iconos{
	background-color: #F5F5F5;
	border-radius: 0.2em;
    font-size: 1em;
    
}
.fa-facebook{
	color: #00468C;
	border-bottom: 3px solid #00468C;
	padding: 0.3em 0.6em;
}
.fa-facebook:hover{
	background: rgba(0, 70, 140, 0.2);
    cursor: pointer;
}
.fa-twitter{
	color: #009BCE;
	border-bottom: 3px solid #009BCE;
	padding: 0.3em 0.4em;
}
.fa-twitter:hover{
	background: rgba(0, 155, 206, 0.1);
    cursor: pointer;
}
.fa-google-plus{
	color: #E94434;
	border-bottom: 3px solid #E94434;
	padding: 0.3em 0.4em;
}
.fa-google-plus:hover{
	background: rgba(233,68,52, 0.1);
    cursor: pointer;
}
/*------------------ redes sociales------------- */
.redes_sociales{
	width: 23.4em;
    margin: 0 auto;
}
.redes_sociales ul{
	float: right;
    margin: 0.25em 0em; 
}
.redes_sociales ul li{
	float: left;
    padding-right: 1.5em;
    font-size: 0.9em;
}
.text_principal li {
	color: #DADEE2;
}
.text_principal li a{
	color: #DADEE2;
	font-size: 0.75em;
}
/*-------------- section - Image articulos ------------*/
.image_articulos{
 padding: 2.5em 0em; 
}
.noticia_principal{
	background-image: url("../image/img_grid_principal.jpg");
    width: 100%;
    height: 32.5em;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    position: relative;
    margin-bottom: 1em;
}
.noticia_secundario{
	background-image: url("../image/img_grid_secundario.jpg");
	background-size: cover;
	height: 15.6em;
	width: 100%;
	margin: 0em 0em 0.65em 0em;
	text-align: left;
	position: relative;
}
.noticia_next{
	position: absolute;
    top: 21.8em;
    left: 0.9em;
}
.noticia_next_a{
	position: absolute;
    top: 5.2em;
    left: 0.9em;
}
.noticia_next_b{
	position: absolute;
    top: 7em;
    left: 0.9em;
    margin:0;
}
.image_articulos .redes_sociales{
	margin: 0;
}
/*---------------Area Columnista----------*/
.columnistas * {
	font-family:"Oswald";
}
.columnistas{
	border-top: 4px solid #C00101;
	margin-top: 3.1em;
	background-color: #eee;
	text-align: center;
}
.cabecera{
	background-color: #C00101;
  	color: white;
  	padding: 0.2em 0.4em;
  	position: relative;
  	top: -7px;
  	font-size: 1.7em;

}
.cabecera a{
	color: white;
}
.cabecera a:hover{
	color: white;
}
.image-section-columnistas{
	margin: 0 auto;
	margin-top: 2em;
}
.imagens2{
	background: #fff;
	height: 6.8em;
	padding: 4px;
	width: 6.8em;
	display: inline-block;
}
.texto1 a{
	text-align: center;
	color: black
}
.titulo-columnistas{
	font-family: PT-sans, sans-serif;
   font-size: 0.8em;
   margin: 10px 0px; 
}
.subtitulo-columnistas{
	font-size:1em; 
}
.texto1 a:hover{
 color: black
}
/*-------------------H07 -noticias -destacadas---------*/
.H07-noticias-destacadas{
	padding: 3.1em 0em;
}
.titulo-destadas {
	color: #C00101;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
.img-thumbnail{
	width: 100%;
	padding: 0px;
	text-align: center;
	margin: 0.7em 0em; 
}
.image-noticias{
	background-image: url("../image/img_especiales.jpg");
	background-size: cover;
	background: rgba(255,255,255,0.);
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 10em;
	text-align: left;
}
.lista-noticias{
	font-weight: bold;
	line-height: 25px;
}
.image-noticias h3 a{
	font-size: 20px;
	color: white;
  position: absolute;
  bottom: 0.6em;
  left: 0.6em;
}
.image-noticias h3 a:hover{
	color: white;
}
.img-thumbnail p{
	margin:10px; 
}
.img-thumbnail span{
	font-family: PT-sans, sans-serif;
  font-size: 0.9em; 
}
.img-thumbnail p a{
 color: black;
}
.img-thumbnail p a:hover{
 color: black;
}

/*--------------------H08-ultimas-noticias---------------*/

.blue-gray{
	color: #60597F;
	font-weight: 300;
}
.lastblogs{
	font-size: 0.9em;
	display: inline;
}
.H08-ultimas-noticias{
	padding: 2em 0em;
}
.H08-ultimas-noticias h3{
	font-weight: 600;
	margin-top: 0;
}
.H08-ultimas-noticias .texto-destacadas{
	color: black;
	font-size: 1.3em;
}
.padding-noticias{
	padding: 1em 0em;
}
.noticias-destacadas .image-emma{
	width: 100%;
	height: 100%;
	margin-bottom: 0.8em;
}
.noticias-destacadas{
	text-align: left;
}
.fecha-noticias-destacadas{
	color: #768596;
	font-size: 0.8em;
}
 .H08-ultimas-noticias span{
 	color: #768596;
	font-size: 0.8em; 
 }
.linea-ultimas-noticias{
	border-bottom: 1px solid #768596;
	padding-top: 1em;
}

/*---------------------iconos--------*/
.iconos2{
	background-color: #F5F5F5;
	border-radius: 0.2em;
    font-size: 1.3em;   
}
.image-bullet{
	margin:0.5em;
}
.fa-facebook{
	color: #00468C;
	border-bottom: 3px solid #00468C;
	padding: 0.3em 0.6em;
}
.fa-facebook:hover{
	background: rgba(0, 70, 140, 0.2);
    cursor: pointer;
}
.fa-twitter{
	color: #009BCE;
	border-bottom: 3px solid #009BCE;
	padding: 0.3em 0.4em;
}
.fa-twitter:hover{
	background: rgba(0, 155, 206, 0.1);
    cursor: pointer;
}
.fa-google-plus{
	color: #E94434;
	border-bottom: 3px solid #E94434;
	padding: 0.3em 0.4em;
}
.fa-google-plus:hover{
	background: rgba(233,68,52, 0.1);
    cursor: pointer;
}
.fa-youtube-play{
	color: #E94434;
	font-size: 1.3em;
}

/* form suscripcion */

.suscripcioncuadro{
	background: url(../image/trama_square.jpg);
	padding: 40px 20px 10px 20px;
	margin-bottom: 20px;
}
.bg-whiteform{
	background-color: #FFFFFF;
}
.bg-whiteform form{
	width: 100%;
	padding: 10px 35px;
}
/*
.d-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
*/
.suscripcionimg{
	margin-top: -25px;
}
.titleform{
	font-size: 1em;
}
.substitle{
	font-weight: bold;
}
.inputs-subs{
	width: 90%;
	margin: 5px;
}
.btnsubcrip{
	margin: 10px 4px;
	padding: 5px 3.2em;
	background-color: #C00101;
	color: white;
}

/*---------Pregunta del dia---------*/
.bg-pregunta {
	background: url(../image/trama_square.jpg);
	padding: 20px;
}
.bg-white {
	background-color: #fff;
	padding: 2%;
}
.img-pg {
	margin-top: -25px;
}
.pgt-text {
	font-weight: bold;
}

/*aweita, foto destacada, */
.imagenaweita{
	display: flex;
    align-items: center;
    justify-content: center;
}
.borde{
	border: 1px solid #bdbdbd;
	padding: 4%;
	margin-top: 2%;
}
.borde-img{
	border: 2px solid #bdbdbd;
}
.margin-top{
	margin-top: 10%;
}
.linea{
	width: 43%;
	height: 8px;
	background-color: #6A0888;
	margin: 0 auto;
	margin-top: 10px;
}
.lineados{
	width: 43%;
	height: 8px;
	background-color: #B40431;
	margin: 0 auto;
	margin-top: 10px;
}
.lineatres{
	width: 43%;
	height: 8px;
	background-color: #FACC2E;
	margin: 0 auto;
	margin-top: 10px;
}
a{
color: black;
}
.morado{
	color: #6A0888;
}
.morado:hover {
	color: #6A0888;
}
.red{
	color: #B40431;
}
.red:hover{
	color: #B40431;
}
#destacados, #especiales, #bloggers, #infografia  {
	border-top: 4px #939393 solid;
	margin-top: 20px;
}
.cabeceradestacados{
	background-color: #939393;
  	color: white;
  	padding: 0.2em 0.4em;
  	position: relative;
  	top: -9px;
  	left: 32%;
  	font-size: 1em;
  	font-family: Oswald;
}

.cabeceradestacados a, .cabeceracarlin a {
	color: white;
}
.cabeceradestacados a:hover, .cabeceracarlin a:hover {
	color: white;
}
#carlin, #impresion {
	border-top: 3px #C00101 solid;
	margin-top: 20px;
}
.cabeceracarlin {
	background-color: #C00101;
  	color: white;
  	padding: 0.2em 0.4em;
  	position: relative;
  	top: -9px;
  	left: 28%;
  	font-size: 1em;
  	font-family: Oswald;
}

/*especiales- Régimen Laboral Juvenil */
/*infografias*/
.foto-destacada{
	background-image: url("../image/img_fotodes_prominent.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 176px;
	border: 2px solid gray;
	margin-top: 8%;
    margin-bottom: 3%;
}
.border-bottom { 
	border-bottom: 2px solid #ccc;
	margin-top: 8%;
    margin-bottom: 3%; 
}
/* especiales */
.img_especiales_aside{
	background-image: url("../image/img_especiales_aside.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 212px;
	margin-top: 10%;
    margin-bottom: 12%;
}
.opacity {
    padding: 10px 40px;
    background: #fff;
    width: 270px;
    opacity: 0.9;
    margin-left: 6%;
    margin-top: -32%;
    margin-bottom: 9%;
}
.opacity_espcies {
    padding: 0px 35px;
    background: #fff;
    width: 270px;
    opacity: 0.9;
    margin-left: 6%;
    margin-top: -33%;
    margin-bottom: 46%;
}
.border-botton-esp { 
    border-bottom: 2px solid #ccc;
    margin-top: -37%;
    margin-bottom: 8%; 
}
/*Carlincaturas*/
.img_carlincatura{
	background-image: url("../image/img_carlincatura_sd.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    height: 229px;
    margin-top: 6%;
    margin-bottom: 3%;
}
.subrayado{
	text-decoration: underline;
}
.img_impreso{
	background-image: url("../image/img_impreso_sd_prominent.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
    height: 420px;
	margin-top: 8%;
    margin-bottom: 3%;
}
.centro-edicion{
    padding-top: 17%;
}

/*--------------mascotas--------*/
#reportero_ciudadano{
	background: url(../image/trama_square.jpg);
	text-align: center; 	
	margin: 10px 0px;
}
.fondo_reportero {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    height: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px 10px;
}
.icono-reportero{
	  top: -30px;
    position: relative;
}
.carro-reportero{
	width: 100%;
}
.font-reportero{
	font-weight: 600;
}
.fondo_reportero h3{
	margin-top: 0px;
}
.left-reportero{
	text-align: left;
}
.fondo_reportero p{
	margin-bottom: 20px;
}
#reportero_ciudadano a{
	background-color: #b71c1c;
	color:white; 
	padding: 10px 20px;
	margin-top: 10px;
	text-decoration: none;	
	border-radius: 5px;
}
#reportero_ciudadano a:hover{
	background-color: #E94434;
}
.mas-reportero{
	margin-top: 20px;
}
/*------------Mi mascota---------*/
#mi_mascota{
	background: url(../image/trama_square.jpg);
	text-align: center; 	
}
#mi_mascota a{
	background-color: #b71c1c;
	color:white; 
	padding: 10px 20px;
	margin-top: 10px;
	text-decoration: none;	
	border-radius: 5px;
}
#mi_mascota a:hover{
	background-color: #E94434;
}

 /*----------MEDIA QUERY-------------*/
@media(max-width: 768px){
	.container{
		width: 90%;
		font-size: 12px;
	}
	.principal_noticias h1{
	font-size: 1.9em;
    
		}
	.redes_sociales{
	width: 20em;
	}
	.image_articulos .redes_sociales{
	margin: 0;
	width: 22em;
	}
	.principal_noticias a{
	font-weight: 600;
	color: white;
	font-size: 0.9em;
	}
	.noticia_next{
	position: absolute;
    top: 19em;
    left: 0.9em;
	}
	.noticia_next_a{
	position: absolute;
    top: 4em;
    left: 0.9em;
	}
	.noticia_next_b{
	position: absolute;
    top: 5em;
    left: 0.9em;
    margin:0;
	}

 @media(max-width: 1200px){
	.noticia_next{
	position: absolute;
    top: 20em;
    left: 0.9em;
	}
	.noticia_next_a{
	position: absolute;
    top: 3.5em;
    left: 0.9em;
	}
	.noticia_next_b{
	position: absolute;
    top: 4.5em;
    left: 0.9em;
    margin:0;
	}
}

