/*---------Pregunta del dia---------*/
.bg-pgt {
	background: url(../image/trama_square.jpg);
	padding: 40px 0px 10px 0px;
}
.bg-white {
	background-color: #fff;
	margin: 3%;
	padding: 2%;
}
.img-pg {
	margin-top: -25px;
}