body{
	margin: 0;
	padding: 0;
	font-family: PT-Sans,sans-serif;
}
.container{
	width: 80%;
	margin: 0 auto;
}
/*--------------------H08-ultimas-noticias---------------*/
.H08-ultimas-noticias{
	padding: 2em 0em;
}
.H08-ultimas-noticias h3{
	font-weight: 600;
	margin-top: 0;
}
.H08-ultimas-noticias .texto-destacadas{
	color: black;
	font-size: 1.3em;
}
.padding-noticias{
	padding: 1em 0em;
}
.noticias-destacadas .image-emma{
	width: 100%;
	height: 100%;
	margin-bottom: 0.8em;
}
.noticias-destacadas{
	text-align: left;
}
.fecha-noticias-destacadas{
	color: #768596;
	font-size: 0.8em;
}
 .H08-ultimas-noticias span{
 	color: #768596;
	font-size: 0.8em; 
 }
.linea-ultimas-noticias{
	border-bottom: 1px solid #768596;
	padding-top: 1em;
}

/*---------------------iconos--------*/
.iconos2{
	background-color: #F5F5F5;
	border-radius: 0.2em;
    font-size: 1.3em;   
}
.image-bullet{
	margin:0.5em;
}
.fa-facebook{
	color: #00468C;
	border-bottom: 3px solid #00468C;
	padding: 0.3em 0.6em;
}
.fa-facebook:hover{
	background: rgba(0, 70, 140, 0.2);
    cursor: pointer;
}
.fa-twitter{
	color: #009BCE;
	border-bottom: 3px solid #009BCE;
	padding: 0.3em 0.4em;
}
.fa-twitter:hover{
	background: rgba(0, 155, 206, 0.1);
    cursor: pointer;
}
.fa-google-plus{
	color: #E94434;
	border-bottom: 3px solid #E94434;
	padding: 0.3em 0.4em;
}
.fa-google-plus:hover{
	background: rgba(233,68,52, 0.1);
    cursor: pointer;
}
.fa-youtube-play{
	color: #E94434;
	font-size: 1.3em;
}
/*--------------mascotas--------*/
#reportero_ciudadano{
	background: url(../image/trama_square.jpg);
	text-align: center; 	
	margin: 10px 0px;
}
.fondo_reportero {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    height: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px 10px;
}
.icono-reportero{
	  top: -30px;
    position: relative;
}
.carro-reportero{
	width: 100%;
}
.font-reportero{
	font-weight: 600;
}
.fondo_reportero h3{
	margin-top: 0px;
}
.left-reportero{
	text-align: left;
}
.fondo_reportero p{
	margin-bottom: 20px;
}
#reportero_ciudadano a{
	background-color: #b71c1c;
	color:white; 
	padding: 10px 20px;
	margin-top: 10px;
	text-decoration: none;	
	border-radius: 5px;
}
#reportero_ciudadano a:hover{
	background-color: #E94434;
}
.mas-reportero{
	margin-top: 20px;
}
/*------------Mi mascota---------*/
#mi_mascota{
	background: url(../image/trama_square.jpg);
	text-align: center; 	
}
#mi_mascota a{
	background-color: #b71c1c;
	color:white; 
	padding: 10px 20px;
	margin-top: 10px;
	text-decoration: none;	
	border-radius: 5px;
}
#mi_mascota a:hover{
	background-color: #E94434;
}